{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}




{% block content %}

<div class="container">
    <h3> Ajout d'un objet </h3>
    <hr>
        {{ wtf.quick_form(form) }}
    </hr>
</div>

{% endblock %}


{% block scripts %}
{{ super() }}
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
</script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
        $('#location').select2({  // init Select2 on form's name field
            placeholder: "{{ form.location.label.text }}",
            allowClear: true,
            "width": "style"
        });
    });
    </script>
{% endblock %}


