{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1> Recherche </h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.stringsearch.label }} <br>
            {{ form.stringsearch(size=32) }} <br>
            {% for error in form.stringsearch.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p> 
        <p>{{ form.submit() }}</p>
    </form>
</div>
<div class="container">
    {{ table }}
</div>

{% endblock %}
